
.Pregunta1 {
    background: royalblue;
}
.pregunta2 {
    background-color: aqua;
}
.pregunta3 {
    background-color: tomato;
}
.pregunta4 {
    background-color: tomato;
}
.pregunta6 {
    background-color: teal;
}
.pregunta7 {
    background-color: mediumslateblue;
}
.pregunta8{
    background-color: red;
}